DISCORD_TOKEN=SEVZIE5FUkQgLWJpbGwgY2lwaGVyCnNvIHlvdSBmb3VuZCB0aGUgc2VjcmV0LCBuaWNl # replace with real token
MYSQL_HOST=127.0.0.1
MYSQL_USER=1234
MYSQL_PASS=password1
MYSQL_DB=soap-cat-db
LOG_CHANNEL=1234567891011121314 # Logging channel for bot actions
BOTS_ONLY_CHANNEL=1234567891011121314 # CHannel exclusively for Soap and Maid cat, which should be used in conjunction.
ESSENTIALS_DIR=~/essentials # Folder where maidy stores essential.exefs files, must match ESSENTIALS_DIR in maid-cat's constants.py
